body {
    background-color: black;
}
#canvas {
    width: 800px;
    margin:0 auto;
}

#written {
    width:800px;
    margin:0 auto;

    font-size: 48px;
    text-align:center;

    background-color: black;
    color:white;
}

#days, #months, #years {
    padding:0px 5px;
}

.separator {
    padding:0px 0px;
}
